
/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 cc=80; */

div.exhibit

  float left
  width 1px // OL needs width on container at startup...
  z-index 0

  #neatline, #neatline-map
    height 100%
    width 100%
