
/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 cc=80; */

*

  box-sizing border-box
  -webkit-box-sizing border-box
  -moz-box-sizing border-box

  ::selection
    background $link-color
    color white

body

  font-size 14px
  margin 0
  overflow hidden

  background darken(white, 0.5%)
  font-family "Roboto Condensed"
  font-weight 300

  a, a:visited

    color $link-color
    font-weight 400

div.container

  padding 0
  width auto
