
/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 cc=80; */

#word-line
  position fixed
  z-index 2
  pointer-events none
  top 0
  left 0

  svg
    position fixed
    top 0
    left 0

    line
      stroke $link-color

    circle
      fill $link-color
