
/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 cc=80; */

#wms-loader

  position fixed
  padding 1em
  right 1em
  bottom 1em

  blue-container()
  border-radius 3px

  .three-quarters

    border 2px solid $link-color
    border-right-color transparent
    margin-right 0.4em
    width 10px
    height 10px
