
/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 cc=80; */

// FONTS
// ----------------------------------------------------------------------------

@import url("http://fonts.googleapis.com/css?family=Oswald:400,700,300")
@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400")
@import url("http://fonts.googleapis.com/css?family=Gafata")

// VENDOR
// ----------------------------------------------------------------------------

@import "bootstrap/dist/css/bootstrap.css"
@import "css-spinners/css/spinner/three-quarters.css"
@import "nprogress/nprogress.css"

// VARIABLES
// ----------------------------------------------------------------------------

$link-color = rgba(255, 225, 70, 1)
$bg-color   = rgba(44, 73, 97, 0.85)
$text-color = darken(white, 5%)
$text-width = 400px

// MIXINS
// ----------------------------------------------------------------------------

blue-container()

  background-color $bg-color
  color $text-color

// STYLES
// ----------------------------------------------------------------------------

@import "layout"
@import "nprogress"
@import "openlayers"
@import "exhibit"
@import "narrative"
@import "bubble"
@import "zoom"
@import "lines"
