
/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 cc=80; */

#zoom

  position fixed
  left $text-width + 20
  top 20px

  .btn

    display block
    height 40px
    width 40px
    margin-bottom 20px
    line-height 40px
    padding 0

    blue-container()
    font-family Consolas
    font-size 40px
    text-align center

    &:hover
      color $link-color
